/*****RESPONSIVEE HEADER Y SU CONTENIDO*/

@media  screen and (max-device-width:919px){
     header h1{
         font-size: 20px;
         margin-left: 8px;
      } 
      
      header ul{
        position: absolute;
        right: 100px;
        margin: 0;
        display: flex;
        line-height: 80px;
      }  
      
}

@media only screen and (max-device-width:787px){
  header{
    width: 100%;
    height: 50px;
  }header .icono-menu{
    color: white;
    font-size: 20px;
    position: absolute;
     line-height: 50px;
     right: 60px;
     display: block;
  } header .icono-modooscuro{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    line-height: 50px;
}
    header h1{
        font-size: 20px;
        margin-left: 8px;
        line-height: 50px;
     } 
     
     header ul{
         width: 30%;
       position: absolute;
       right: 0px;
       padding: 10px;
       top: 50px;
       background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
       margin: 0;
       transform: translateX(100%);
       display: flex;
       flex-direction: column;
       line-height: 80px;
       transition: all 0.5s;
     }       
     
     header .ul-activo{
      width: 45%;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 50px;
    background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
    margin: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    line-height: 80px;
  }      header .ul-activo-oscuro{
  background-image: linear-gradient(to right bottom,#220239,#37045B,#37045B,#1279EC);
}        
}

@media only screen and (max-device-width:481px){
  header{
    width: 100%;
    height: 50px;
  }header .icono-menu{
    color: white;
    font-size: 20px;
    position: absolute;
     line-height: 50px;
     right: 60px;
     display: block;
  } header .icono-modooscuro{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    line-height: 50px;
}
    header ul{
        width: 35%;
      position: absolute;
      right: 0px;
      padding: 10px;
      top: 50px;
      background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
      margin: 0;
      display: flex;
      flex-direction: column;
      line-height: 80px;
      transition: all 0.5s;
    }     header .ul-activo{
      width: 35%;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 50px;
    background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
    margin: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    line-height: 50px;
  }     header .ul-activo-oscuro{
    background-image: linear-gradient(to right bottom,#220239,#37045B,#37045B,#1279EC);
}          

} @media only screen and (max-device-width:411px){
  header{
    width: 100%;
    height: 50px;
  }header .icono-menu{
    color: white;
    font-size: 20px;
    position: absolute;
     line-height: 50px;
     right: 60px;
     display: block;
  } header .icono-modooscuro{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    line-height: 50px;
}
    header ul{
        width: 50%;
      position: absolute;
      right: 0px;
      padding: 10px;
      top: 50px;
      background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
      margin: 0;
      display: flex;
      flex-direction: column;
      line-height: 80px;
      transition: all 0.5s;
    }    header ul a li{
        margin: 0;
     }   header ul a {
         margin: 0;
     }  header .ul-activo{
      width: 50%;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 50px;
    background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
    margin: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    line-height: 80px;
  }     header .ul-activo-oscuro{
    background-image: linear-gradient(to right bottom,#220239,#37045B,#37045B,#1279EC);
}         

} @media only screen and (max-device-width:350px){
  header{
    width: 100%;
    height: 50px;
  }header .icono-menu{
    color: white;
    font-size: 20px;
    position: absolute;
     line-height: 50px;
     right: 60px;
     display: block;
  } header .icono-modooscuro{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    line-height: 50px;
}
    header ul{
        width: 50%;
        transition: all 0.5s;
    }header .ul-activo{
      width: 50%;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 50px;
    background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
    margin: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    line-height: 80px;
  }       header .ul-activo-oscuro{
    background-image: linear-gradient(to right bottom,#220239,#37045B,#37045B,#1279EC);
}      
} @media only screen and (max-device-width:321px){
  header{
    width: 100%;
    height: 50px;
  }header .icono-menu{
    color: white;
    font-size: 20px;
    position: absolute;
     line-height: 50px;
     right: 60px;
     display: block;
  } header .icono-modooscuro{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    line-height: 50px;
}
    header ul{
        width: 60%;
        transition: all 0.5s;
    }header .ul-activo{
      width: 60%;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 50px;
    background-image: linear-gradient(to right bottom,#5A08A7,#6F0DCB,#1279EC);
    margin: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    line-height: 80px;
  }     header .ul-activo-oscuro{
    background-image: linear-gradient(to right bottom,#220239,#37045B,#37045B,#1279EC);
  
}         
} @media  screen and (max-device-width:919px){
  header h1{
      font-size: 15px;
      margin-left: 8px;
   } 
    
   
}

/****CONTENIDO BANNER**/

@media only screen and (max-device-width:860px){

    .cont-video .degradado .iconos{
        right: 10px;
        top: 350px;
      } 
} @media only screen and (max-device-width:765px){
    .cont-video .degradado .iconos{
        right: 10px;
        top: 300px;
}
      }  @media only screen and (max-device-width:656px){
        .cont-video .degradado .iconos{
            right: 10px;
            top: 250px;
          }
        } 
        @media only screen and (max-device-width:560px){
          .cont-video .degradado .iconos{
              right: 10px;
              top: 220px;
            } 

          } @media only screen and (max-device-width:490px){
            .cont-video .degradado .iconos{
                right: 10px;
                top: 180px;
              } 
          } @media only screen and (max-device-width:400px){
            .cont-video .degradado .iconos{
                right: 10px;
                top: 150px;
              } 
          } @media only screen and (max-device-width:340px){
            .cont-video .degradado .iconos{
                right: 10px;
                top: 130px;
              } 
          } @media only screen and (max-device-width:302px){
            .cont-video .degradado .iconos{
                right: 10px;
                top: 90px;
              } 
          } 
          /**LETRASBANNER*/
           @media only screen and (max-device-width:950px){
            .ml4 {
                position: absolute;
                left: 150px;
                top: -30px;
                font-weight: 9000;
                font-size: 80px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          }  @media only screen and (max-device-width:800px){
            .ml4 {
                position: absolute;
                left: 150px;
                top: -30px;
                font-weight: 8000;
                font-size: 70px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          } @media only screen and (max-device-width:650px){
            .ml4 {
                position: absolute;
                left: 150px;
                top: -30px;
                font-weight: 7000;
                font-size: 60px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          }  @media only screen and (max-device-width:581px){
            .ml4 {
                position: absolute;
                left: 80px;
                top: -30px;
                font-weight: 6000;
                font-size: 60px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          }  @media only screen and (max-device-width:509px){
            .ml4 {
                position: absolute;
                left: 100px;
                top: 10px;
                font-weight: 7000;
                font-size: 40px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          }  @media only screen and (max-device-width:435px){
            .ml4 {
                position: absolute;
                left: 80px;
                top: 10px;
                font-weight: 6000;
                font-size: 40px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          } @media only screen and (max-device-width:380px){
            .ml4 {
                position: absolute;
                left: 80px;
                top: 10px;
                font-weight: 4000;
                font-size: 30px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          } @media only screen and (max-device-width:334px){
            .ml4 {
                position: absolute;
                left: 80px;
                top: 10px;
                font-weight: 4000;
                font-size: 25px;
                color: white;
              }
              .ml4 .letters {
                position: absolute;
                margin: 0 auto;
              }
          }
@media only screen and (max-device-width:718px){

/**CONTENEDOR BIENVENIDA **/
.cont-gen-bienvenida{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.cont-gen-bienvenida .cont-bienvenida{
  width: 80%;
  padding-bottom:30px;
  margin: 0 auto;
  margin-bottom: 30px;
  height: auto;
  position: relative;
} .cont-gen-bienvenida .cont-bienvenida .bienvenida{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 5px solid #6F0DCB;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
} .cont-gen-bienvenida .cont-bienvenida .bienvenida h2{
  color: #333;
  font-size: 30px;
  margin: 0;
 text-align: center;
  margin-top: 20px;
} .cont-gen-bienvenida .cont-bienvenida .bienvenida p{
  width: 80%;
  color: #666;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: justify;
} .cont-gen-bienvenida .cont-bienvenida .bienvenida a{
  width: 80%;
  height: 30px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: red;
  padding: 10px;
  border-radius: 15px;
  transition: all 1s;
}  .cont-gen-bienvenida .cont-bienvenida .bienvenida a:hover{
  font-size: 25px;
  background-color: white;
  color: red;
} .cont-gen-bienvenida .cont-inob{
  width: 60%;
  height: auto;
margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cont-gen-bienvenida .cont-inob .info-intereses{
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom,#330864,#330864,#146DF6);
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
} .cont-gen-bienvenida .cont-inob .info-intereses h2{
  color: white;
}
.cont-gen-bienvenida .cont-inob .info-intereses p{
  text-align: justify;
  color: white;
}  .cont-gen-bienvenida .cont-inob .info-objetivo{
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom,#330864,#330864,#146DF6);
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
} .cont-gen-bienvenida .cont-inob .info-objetivo h2{
  color: white;
}
.cont-gen-bienvenida .cont-inob .info-objetivo p{
  text-align: justify;
  color: white;
}

}

@media only screen and (max-device-width:718px){

  /**CONTENEDOR BIENVENIDA **/
  .cont-gen-bienvenida{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .cont-gen-bienvenida .cont-bienvenida{
    width: 100%;
    padding-bottom:30px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: auto;
    position: relative;
  } .cont-gen-bienvenida .cont-bienvenida .bienvenida{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid #6F0DCB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  } .cont-gen-bienvenida .cont-bienvenida .bienvenida h2{
    color: #333;
    font-size: 30px;
    margin: 0;
   text-align: center;
    margin-top: 20px;
  } .cont-gen-bienvenida .cont-bienvenida .bienvenida p{
    width: 80%;
    color: #666;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: justify;
  } .cont-gen-bienvenida .cont-bienvenida .bienvenida a{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    transition: all 1s;
  }  .cont-gen-bienvenida .cont-bienvenida .bienvenida a:hover{
    font-size: 25px;
    background-color: white;
    color: red;
  } .cont-gen-bienvenida .cont-inob{
    width: 90%;
    height: auto;
  margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .cont-gen-bienvenida .cont-inob .info-intereses{
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to right bottom,#330864,#330864,#146DF6);
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  } .cont-gen-bienvenida .cont-inob .info-intereses h2{
    color: white;
  }
  .cont-gen-bienvenida .cont-inob .info-intereses p{
    text-align: justify;
    color: white;
  }  .cont-gen-bienvenida .cont-inob .info-objetivo{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to right bottom,#330864,#330864,#146DF6);
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  } .cont-gen-bienvenida .cont-inob .info-objetivo h2{
    color: white;
  }
  .cont-gen-bienvenida .cont-inob .info-objetivo p{
    text-align: justify;
    color: white;
  }
  
  }



               @media only screen and (max-device-width:850px){

        
                /***SOBRE MI*/
                
                .title-sobremi{
                  color: #333;
                  margin-left: 30px;
                  font-size: 40px;
                  text-align: center;
                }
                .sobremi{
                width: 100%;
                justify-content: space-around;
                margin-bottom: 30px;
                background-image: url(../img/banner.jpg);
                background-attachment: fixed;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                } 
                .sobremi .cont-carrera{
                  width: 100%;
                  height: auto;
                  padding-top: 30px;
                padding-bottom: 30px;
                  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                }
                .sobremi .cont-carrera .carrera{
                   width: 45%;
                   height: auto;
                   margin: 0 auto;
                   padding: 10px;
                   background-color: white;
                   border-radius: 15px;
                   border: 5px solid #6F0DCB;
                   -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                } .sobremi .cont-carrera .carrera .title-datos{
                  color: #333;
                 margin: 0;
                 margin-bottom: 20px;
                  font-size: 40px;
                  text-align: center;
                } .sobremi .cont-carrera .carrera .title-carrera{
                  color: #6F0DCB;
                 margin: 0;
                 margin-bottom: 10px;
                  font-size: 25px;
                  text-align: center;
                } .sobremi .cont-carrera .carrera p{
                  width: 90%;
                  text-align: justify;
                  margin: 0 auto;
                  margin-bottom: 10px;
                }
                
                       }

                       @media only screen and (max-device-width:745px){

        
                        /***SOBRE MI*/
                        
                        .title-sobremi{
                          color: #333;
                          margin-left: 30px;
                          font-size: 25px;
                          text-align: center;
                        }
                        .sobremi{
                        width: 100%;
                        justify-content: space-around;
                        margin-bottom: 30px;
                        background-image: url(../img/banner.jpg);
                        background-attachment: fixed;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        } 
                        .sobremi .cont-carrera{
                          width: 100%;
                          height: auto;
                          padding-top: 30px;
                        padding-bottom: 30px;
                          background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                        }
                        .sobremi .cont-carrera .carrera{
                           width: 60%;
                           height: auto;
                           margin: 0 auto;
                           padding: 10px;
                           background-color: white;
                           border-radius: 15px;
                           border: 5px solid #6F0DCB;
                           -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                        } .sobremi .cont-carrera .carrera .title-datos{
                          color: #333;
                         margin: 0;
                         margin-bottom: 20px;
                          font-size: 30px;
                          text-align: center;
                        } .sobremi .cont-carrera .carrera .title-carrera{
                          color: #6F0DCB;
                         margin: 0;
                         margin-bottom: 10px;
                          font-size: 25px;
                          text-align: center;
                        } .sobremi .cont-carrera .carrera p{
                          width: 90%;
                          text-align: justify;
                          margin: 0 auto;
                          margin-bottom: 10px;
                        }
                        
                               }

            
                               @media only screen and (max-device-width:480px){

        
                                /***SOBRE MI*/
                                
                                .title-sobremi{
                                  color: #333;
                                  margin-left: 30px;
                                  font-size: 25px;
                                  text-align: center;
                                }
                                .sobremi{
                                width: 100%;
                                justify-content: space-around;
                                margin-bottom: 30px;
                                background-image: url(../img/banner.jpg);
                                background-attachment: fixed;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                } 
                                .sobremi .cont-carrera{
                                  width: 100%;
                                  height: auto;
                                  padding-top: 30px;
                                padding-bottom: 30px;
                                  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                                }
                                .sobremi .cont-carrera .carrera{
                                   width: 70%;
                                   height: auto;
                                   margin: 0 auto;
                                   padding: 10px;
                                   background-color: white;
                                   border-radius: 15px;
                                   border: 5px solid #6F0DCB;
                                   -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                } .sobremi .cont-carrera .carrera .title-datos{
                                  color: #333;
                                 margin: 0;
                                 margin-bottom: 20px;
                                  font-size: 30px;
                                  text-align: center;
                                } .sobremi .cont-carrera .carrera .title-carrera{
                                  color: #6F0DCB;
                                 margin: 0;
                                 margin-bottom: 10px;
                                  font-size: 25px;
                                  text-align: center;
                                } .sobremi .cont-carrera .carrera p{
                                  width: 90%;
                                  text-align: justify;
                                  margin: 0 auto;
                                  margin-bottom: 10px;
                                }
                                
                                       }

                                       
                               @media only screen and (max-device-width:400px){

        
                                /***SOBRE MI*/
                                
                                .title-sobremi{
                                  color: #333;
                                  margin-left: 30px;
                                  font-size: 25px;
                                  text-align: center;
                                }
                                .sobremi{
                                width: 100%;
                                justify-content: space-around;
                                margin-bottom: 30px;
                                background-image: url(../img/banner.jpg);
                                background-attachment: fixed;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                } 
                                .sobremi .cont-carrera{
                                  width: 100%;
                                  height: auto;
                                  padding-top: 30px;
                                padding-bottom: 30px;
                                  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                                }
                                .sobremi .cont-carrera .carrera{
                                   width: 80%;
                                   height: auto;
                                   margin: 0 auto;
                                   padding: 10px;
                                   background-color: white;
                                   border-radius: 15px;
                                   border: 5px solid #6F0DCB;
                                   -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                } .sobremi .cont-carrera .carrera .title-datos{
                                  color: #333;
                                 margin: 0;
                                 margin-bottom: 20px;
                                  font-size: 30px;
                                  text-align: center;
                                } .sobremi .cont-carrera .carrera .title-carrera{
                                  color: #6F0DCB;
                                 margin: 0;
                                 margin-bottom: 10px;
                                  font-size: 20px;
                                  text-align: center;
                                } .sobremi .cont-carrera .carrera p{
                                  width: 90%;
                                  text-align: justify;
                                  margin: 0 auto;
                                  margin-bottom: 10px;
                                }
                                
                                       }

                                       @media only screen and (max-device-width:300px){

        
                                        /***SOBRE MI*/
                                        
                                        .title-sobremi{
                                          color: #333;
                                          margin-left: 30px;
                                          font-size: 25px;
                                          text-align: center;
                                        }
                                        .sobremi{
                                        width: 100%;
                                        justify-content: space-around;
                                        margin-bottom: 30px;
                                        background-image: url(../img/banner.jpg);
                                        background-attachment: fixed;
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        } 
                                        .sobremi .cont-carrera{
                                          width: 100%;
                                          height: auto;
                                          padding-top: 30px;
                                        padding-bottom: 30px;
                                          background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                                        }
                                        .sobremi .cont-carrera .carrera{
                                           width: 80%;
                                           height: auto;
                                           margin: 0 auto;
                                           padding: 10px;
                                           background-color: white;
                                           border-radius: 15px;
                                           border: 5px solid #6F0DCB;
                                           -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                        -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                        box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                        } .sobremi .cont-carrera .carrera .title-datos{
                                          color: #333;
                                         margin: 0;
                                         margin-bottom: 20px;
                                          font-size: 30px;
                                          text-align: center;
                                        } .sobremi .cont-carrera .carrera .title-carrera{
                                          color: #6F0DCB;
                                         margin: 0;
                                         margin-bottom: 10px;
                                          font-size: 20px;
                                          text-align: center;
                                        } .sobremi .cont-carrera .carrera p{
                                          width: 90%;
                                          text-align: justify;
                                          margin: 0 auto;
                                          margin-bottom: 10px;
                                        }
                                        
                                               }

                                               @media only screen and (max-device-width:300px){

        
                                                /***SOBRE MI*/
                                                
                                                .title-sobremi{
                                                  color: #333;
                                                
                                                  font-size: 20px;
                                                  text-align: center;
                                                }
                                                .sobremi{
                                                width: 100%;
                                                justify-content: space-around;
                                                margin-bottom: 30px;
                                                background-image: url(../img/banner.jpg);
                                                background-attachment: fixed;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                } 
                                                .sobremi .cont-carrera{
                                                  width: 100%;
                                                  height: auto;
                                                  padding-top: 30px;
                                                padding-bottom: 30px;
                                                  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
                                                }
                                                .sobremi .cont-carrera .carrera{
                                                   width: 70%;
                                                   height: auto;
                                                   margin: 0 auto;
                                                   padding: 10px;
                                                   
                                                   background-color: white;
                                                   border-radius: 15px;
                                                   border: 5px solid #6F0DCB;
                                                   -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                                -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                                box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                                                } .sobremi .cont-carrera .carrera .title-datos{
                                                  color: #333;
                                                 margin: 0;
                                                 margin-bottom: 20px;
                                                 font-size: 20px;
                                                  text-align: center;
                                                } .sobremi .cont-carrera .carrera .title-carrera{
                                                  color: #6F0DCB;
                                                 margin: 0;
                                                 margin-bottom: 10px;
                                                 font-size: 15px;
                                                  text-align: center;
                                                } .sobremi .cont-carrera .carrera p{
                                                  width: 90%;
                                                  text-align: justify;
                                                  margin: 0 auto;
                                                  margin-bottom: 10px;
                                                  font-size: 10px;
                                                }
                                                
                                                       }
                
                              @media only screen and (max-device-width:900px){
                                 
/***Conocimientos*/
.title-conocimientos{
  text-align: center;
  font-size: 30px;
}
.cont-conocimientos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} .cont-conocimientos div{
  width: 80%;
  height: auto;
  padding: 10px;
 margin-left: 5px;
  background-image: linear-gradient(to right,#5A08A7,#8710BB);
  margin-bottom:20px;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);

} 
.cont-conocimientos .cont-ilustrator img{
  width: 50px;
  height: 50px;
} .cont-conocimientos .cont-ilustrator h3{
color: white;
} .cont-conocimientos .cont-ilustrator p{
  color: white;
  } .cont-conocimientos .cont-HTML5 img{
    width: 50px;
    height: 50px;
  } .cont-conocimientos .cont-HTML5 h3{
  color: white;
  } .cont-conocimientos .cont-HTML5 p{
    color: white;
    } .cont-conocimientos .cont-CSS3 img{
      width: 50px;
      height: 50px;
    } .cont-conocimientos .cont-CSS3 h3{
    color: white;
    } .cont-conocimientos .cont-CSS3 p{
      color: white;
      } .cont-conocimientos .cont-js img{
        width: 50px;
        height: 50px;
      } .cont-conocimientos .cont-js h3{
      color: white;
      } .cont-conocimientos .cont-js p{
        color: white;
        }

                              }

                              /*****PROYECTOS***/
                              @media only screen and (max-device-width:900px){
                                 
                              
.title-proyectos{
  color: #333;
  font-size: 30px;
  text-align: center;
}
 .cont-proyectos{
  width: 100%;
  height: auto;
  margin-top: 10px;
  transition: all 1s;
}  
 .cont-proyectos .proyectos{
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: space-between;
} .cont-proyectos .proyectos .web{
   width: 40%;
   min-height: auto;
   min-width: 40%;
   margin-left:30px;
     margin-bottom: 30px;
     border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color:white;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}  

.cont-proyectos .proyectos .web img{
 width: 100%;
 height: 160px;
}  .cont-proyectos .proyectos .web p{
  width: 80%;
  height: 30px;
  color: #333;
  margin:0 auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  display: block;
} 

.cont-proyectos .proyectos .web .boton{
   width: 100%;
  height: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 0px 0px 15px 15px;
  background-image: linear-gradient(to right,#330864,#330864,#550DA6);
  color: white;
  text-decoration: none;
  transition: background-color 1s, color 1s;
  display: block;
  margin:0 auto;
  margin-bottom:0px;
  transition: all 1s;
} .proyectos .web .boton:hover{
  font-size: 30px;
  
} 
                              }

                              
@media only screen and (max-device-width:800px){
                                 
                              
  .title-proyectos{
    color: #333;
    font-size: 30px;
    text-align: center;
  }
   .cont-proyectos{
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: all 1s;
  }  
   .cont-proyectos .proyectos{
      width: 90%;
      height: auto;
      padding: 10px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      overflow: scroll;
      justify-content: space-between;
  } .cont-proyectos .proyectos .web{
     width: 60%;
     min-height: auto;
     min-width: 60%;
     margin-left:30px;
       margin-bottom: 30px;
       border-radius: 15px;
      display: flex;
      flex-direction: column;
      background-color:white;
      -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  }  
  
 

}

@media only screen and (max-device-width:600px){
                                 
                              
  .title-proyectos{
    color: #333;
    font-size: 30px;
    text-align: center;
  }
   .cont-proyectos{
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: all 1s;
  }  
   .cont-proyectos .proyectos{
      width: 90%;
      height: auto;
      padding: 10px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      overflow: scroll;
      justify-content: space-between;
  } .cont-proyectos .proyectos .web{
     width: 80%;
     min-height: auto;
     min-width: 80%;
     margin-left:30px;
       margin-bottom: 30px;
       border-radius: 15px;
      display: flex;
      flex-direction: column;
      background-color:white;
      -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  }  
  
 

}


@media only screen and (max-device-width:300px){
                                 
                              
  .title-proyectos{
    color: #333;
    font-size: 30px;
    text-align: center;
  }
   .cont-proyectos{
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: all 1s;
  }  
   .cont-proyectos .proyectos{
      width: 90%;
      height: auto;
      padding: 10px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      overflow: scroll;
      justify-content: space-between;
  } .cont-proyectos .proyectos .web{
     width: 90%;
     min-height: auto;
     min-width: 90%;
     margin-left:30px;
       margin-bottom: 30px;
       border-radius: 15px;
      display: flex;
      flex-direction: column;
      background-color:white;
      -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  }  
  
  
.cont-proyectos .proyectos .web img{
  width: 100%;
  height: 120px;
 }  
 

}

@media only screen and (max-device-width:700px){

  /***FOOTER**/
footer{
  width: 100%;
  height: 350px;
  background-image: url(../img/banner.jpg);
  background-position: center bottom;
 background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
} footer .cont-marca{
  width: 100%;
  height: 350px;
  position: relative;
  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
  justify-content: center;
} footer .cont-marca .marca{
  width: 30%;
  height: auto;
  position: absolute;
  display: flex;
  left: 20%;
  top: 150px;
}
footer .cont-marca .marca img{
  width: 70px;
  height: 70px;
  margin: 0 auto;
} footer .cont-marca h2{
  text-align: center;
  font-size: 30px;
  position: absolute;
  top:230px;
  left: 25%;
  color: white;
}
}

@media only screen and (max-device-width:500px){

  /***FOOTER**/
footer{
  width: 100%;
  height: 250px;
  background-image: url(../img/banner.jpg);
  background-position: center bottom;
 background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
} footer .cont-marca{
  width: 100%;
  height: 250px;
  position: relative;
  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
  justify-content: center;
} footer .cont-marca .marca{
  width: 30%;
  height: auto;
  position: absolute;
  display: flex;
  left: 25%;
  top: 100px;
}
footer .cont-marca .marca img{
  width: 50px;
  height: 50px;
  margin: 0 auto;
} footer .cont-marca h2{
  text-align: center;
  font-size: 20px;
  position: absolute;
  top:160px;
  left: 32%;
  color: white;
}
}


@media only screen and (max-device-width:400px){

  /***FOOTER**/
footer{
  width: 100%;
  height: 250px;
  background-image: url(../img/banner.jpg);
  background-position: center bottom;
 background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
} footer .cont-marca{
  width: 100%;
  height: 250px;
  position: relative;
  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
  justify-content: center;
} footer .cont-marca .marca{
  width: 30%;
  height: auto;
  position: absolute;
  display: flex;
  left: 18%;
  top: 100px;
}
footer .cont-marca .marca img{
  width: 50px;
  height: 50px;
  margin: 0 auto;
} footer .cont-marca h2{
  text-align: center;
  font-size: 20px;
  position: absolute;
  top:160px;
  left: 25%;
  color: white;
}
}


@media only screen and (max-device-width:300px){

  /***FOOTER**/
footer{
  width: 100%;
  height: 250px;
  background-image: url(../img/banner.jpg);
  background-position: center bottom;
 background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
} footer .cont-marca{
  width: 100%;
  height: 250px;
  position: relative;
  background-image: linear-gradient(to left, rgba(000,000,000,1), rgba(000,000,000,0.8), rgba(000,000,000,0));
  justify-content: center;
} footer .cont-marca .marca{
  width: 30%;
  height: auto;
  position: absolute;
  display: flex;
  left: 25%;
  top: 100px;
}
footer .cont-marca .marca img{
  width: 30px;
  height: 30px;
  margin: 0 auto;
} footer .cont-marca h2{
  text-align: center;
  font-size: 10px;
  position: absolute;
  top:140px;
  left: 34%;
  color: white;
}
}